<footer>
  <div class="container-page grid grid-cols-1 md:grid-cols-12 gap-x-8 gap-y-8 pt-16 pb-10">
    <div class="md:col-span-4">
      <div class="flex items-center gap-x-2 mb-4">
        <img src="images/Advisor_Logo.svg" alt="International Driving Advisor" class="h-6 md:h-8 w-auto" />
      </div>
      <p class="text-slate-600 text-sm leading-5">Your trusted partner for international driving translations.</p>
      <p class="text-slate-600 text-sm leading-5">GoDrive Global Pte. Ltd</p>
      <p class="text-slate-600 text-sm leading-5">UEN: 202529095Z</p>
      <p class="text-slate-600 text-sm leading-5">60 PAYA LEBAR ROAD, #11-03, PAYA LEBAR SQUARE, SINGAPORE 409051</p>
    </div>

    <div class="text-sm leading-5 md:col-span-2">
      <p class="font-semibold text-lg mb-4">Support</p>
      <div class="space-y-3">
        <a href="mailto:hello@internationaldrivingadvisor.com" class="flex items-center gap-x-2 text-slate-600 hover:text-primary-500 transition-colors">
          <img src="images/icons/icon-17.svg" alt="Icon" class="h-4 w-4" />
          hello@internationaldrivingadvisor.com
        </a>
        <a href="tel:+6598274856" class="flex items-center gap-x-2 text-slate-600 hover:text-primary-500 transition-colors">
          <img src="images/icons/icon-18.svg" alt="Icon" class="h-4 w-4" />
          +65 9827 4856
        </a>
      </div>
    </div>

    <div class="text-sm leading-5 md:col-span-2 md:col-start-9">
      <p class="font-semibold text-lg mb-4">Company</p>
      <div class="space-y-2">
        <a href="about.html" class="text-slate-600 hover:text-primary-500 block transition-colors">About Us</a>
        <a href="contact.html" class="text-slate-600 hover:text-primary-500 block transition-colors">Contact</a>
        <a href="faq.html" class="text-slate-600 hover:text-primary-500 block transition-colors">FAQ</a>
      </div>
    </div>

    <div class="text-sm leading-5 md:col-span-3 md:col-start-11">
      <p class="font-semibold text-lg mb-4">Legal</p>
      <div class="space-y-2">
        <a href="privacy.html" class="text-slate-600 hover:text-primary-500 block transition-colors">Privacy Policy</a>
        <a href="cookies.html" class="text-slate-600 hover:text-primary-500 block transition-colors">Cookie Policy</a>
        <a href="terms.html" class="text-slate-600 hover:text-primary-500 block transition-colors">Terms & Conditions</a>
        <a href="legal.html" class="text-slate-600 hover:text-primary-500 block transition-colors">Legal Disclaimer</a>
        <a href="refund.html" class="text-slate-600 hover:text-primary-500 block transition-colors">Refund Policy</a>
        <a href="shipping.html" class="text-slate-600 hover:text-primary-500 block transition-colors">Shipping & Delivery</a>
      </div>
    </div>
  </div>

  <div class="mt-8">
    <div class="container-page py-6">
      <div class="flex flex-col md:flex-row justify-start md:justify-between items-start md:items-center gap-4">
        <p class="text-slate-600 text-xs">© 2025 International Driving Advisor. All rights reserved.</p>
        <p class="text-slate-600 text-xs">Legal Disclaimer: The document from International Driving Advisor is a private translation of your national driver’s license — not government-issued and does not grant legal driving rights. It is also not affiliated with or endorsed by American Automobile Association (AAA) or any official licensing authority. When driving abroad, always carry your original license. </p>
      </div>
    </div>
  </div>
</footer>
